.hover_img a { position:absolute; }
.hover_img a span { position:right; display:none; z-index:-1; }
.hover_img a:hover span { display:block;
position:absolute;
left: 80px;
top: -5px;
z-index: 99;}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

}
a{
border: 2px solid black;
    margin: 1.5px;
    padding: 3px;
    float:left;
}
#first{
width:120px;
height:450px;
float:left;
position:relative;
left:200px;
}

#second {
    width:120px;
    height: 450px;
    float: left;
position:relative;
left:200px;
}
#third {
    width: 120px;
    height: 450px;
    float: left;
position:relative;
left:200px;
}
#main
{
    width:400px;
    height:450px;
    position:absolute;
    left:170px;
    top:77px;
    background-color:#A2AB58;
    color:white;
    border: 3px solid black;
    border-style: double;
    border-width:10px; 
    border-radius: 14px;
}
body, html {
    height: 100%;
    background-image: url("Images/index/backgroundp5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:#66FF99;
    font-family:verdana;
    position:relative;
    left:220px;
}
