.hover_img button { position: relative; }
.hover_img button span { position:right; display:none; z-index:-1; }
.hover_img button:hover span {  display: block;
position: relative;
left: 66px;
top: -25px; /*-5*/
z-index: 99;
/*background-image: url("Images/index/unityicon.png");*/}
/*button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}*/
button{
border: 2px solid black;
    margin: 1.5px;
    padding: 3px;
    float:left;
    min-width: 100px;
    max-height: 34.39px;
}

.btn
{
    margin-bottom: 10px;
}
#first{
width:120px;
height:450px;
float:left;
position:relative;
left:214px;
top:20.1px;
}

#second {
width:120px;
height: 450px;
float: left;
position: relative;
left:228px;
top:20.1px;
}
#third {
    width: 120px;
    height: 450px;
    float: left;
position: relative;
left:242px;
top:20.1px;
}
#main
{
    width:440px;
    height:580px;
    position: absolute;
    left:185px; /*170px*/
    top:70px; /*60*/
    background-color:#A2AB58;
    color:white;
    border: 3px solid black;
    border-style: double;
    border-width:10px; 
    border-radius: 14px;
}
body, html {
    height: 100%;
    background-image: url("Images/index/backgroundp5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#titulinis{
    color:#66FF99;
    font-family:verdana;
    position:relative;
    left:220px;
}


